<!DOCTYPE html>
<html>
<head>
    {% block docHead %}
    <title>{% block docTitle %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

<div id="outer_container">
    <header id="page_header">
        {% block pageHeader %}{% endblock %}
    </header>
    <main id="page_interface">{% block pageInterface %}{% endblock %}</main>
    <footer>
        &#169; David Cloutman All rights reserved.
    </footer>
</div>

{% block bodyScripts %}
{% endblock %}

</body>
</html>
