<!DOCTYPE html>
<html>
<head>
    {% block docHead %}
    <title>{% block docTitle %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<main id="page_interface">{% block pageInterface %}{% endblock %}</main>
<footer>
    &#169; David Cloutman All rights reserved.
</footer>

{% block bodyScripts %}
{% endblock %}

</body>
</html>
