<!DOCTYPE html>
<html>
<head>
    {% block docHead %}
    <title>{% block docTitle %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<main id="app"></main>
<footer>
    &#169; David Cloutman All rights reserved.
</footer>
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>
