{% extends "_base.jinja" %}

{% block docTitle %}Paymetron{% endblock %}

{% block pageInterface %}

    <div id="clock_container"></div>
    
    <table id="invoice_item_container">
    </table>
{% endblock %}

{% block bodyScripts %}
    {{ super() }}
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
{% endblock %}
